<h2>Log In</h2>

<%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
    <br>
  <%= f.label :password %>
  <%= f.password_field :password %>
    <br>
  <%= f.submit "Submit"%>
    <br>
<% end %>

  <p>New user?
<%= link_to "Sign up now!", signup_path %></p>
