<h2>Log In</h2>

<%= form_tag '/login' do %>

  <div>Name:</div> <div><%= text_field_tag :name %></div>
  <div>Password:</div> <div><%= password_field_tag :password %></div>
  <%= submit_tag "Submit" %>

<% end %>

  <p>New user?
<%= link_to "Sign up now!", signup_path %></p>
