<div class="edit_comment_form">
<%= form_for [recipe, comment] do |f| %>
  <%= render 'layouts/form_errors', form: comment %>
  <div>Rating: (1-5)</div> <div><%= f.text_field :rating %></div>
  <div>Description</div> <div><%= f.text_area :description, size: "50x5" %></div>
  <%= f.button :Submit, id: 'submit_edit_comment' %>
<% end %>
</div>