<h2>Comments:</h2>

<% comments.each do |comment| %>
<div class="comments">
<h3 class="cheading"><%= comment.user.name %><%= " gives #{comment.rating} stars on #{comment.time}"%></h3>
<p class="cdescription"><%= comment.description %></p>
<% if current_page?("/users/#{comment.user.id}") && logged_in? %>
<p><%= link_to "Recipe: #{comment.recipe.name}", recipe_path(comment.recipe) %></p>
<% end %>

<%= link_to "Edit", edit_recipe_comment_path(comment.recipe, comment) if current_user == comment.user%>

<%= link_to "Delete", comment_path(comment), method: :delete, class: 'dcomment' if current_user == comment.user%>
</div>
<% end %>
