<div class="comments_container">

<% comments.each do |comment| %>
  <div class='new_comment_<%=comment.id%>'>
<h3 class="cheading">
  <%= comment.user.name %><%= " gives #{comment.rating} out of 5 stars!"%>
</h3>
<p class="cdescription">
  <%= comment.description %>
</p>

<%= link_to "Edit", edit_recipe_comment_path(comment.recipe, comment),class: 'ecomment' if current_user == comment.user%>

<%= link_to "Delete", comment_path(comment), method: :delete, class: 'dcomment' if current_user == comment.user%>
<% end %>
</div>
  <form class="editing">
  <h3> Edit your comment: </h3>
    <p> Edit Rating </p>
      <input type="text" class="edit-rating" />
    <p> Edit Description </p>
      <input type="text_area" class="edit-description" /> <br>
      <input type="submit" class="submit-edit" \>
      <button type="cancel" class="cancel">Cancel</button>

  </form>
</div>