<div class="comments_container">
<% comments.each do |comment| %>
<h3 class="cheading">
  <%= comment.user.name %><%= " gives #{comment.rating} out of 5 stars!"%>
</h3>
<p class="cdescription">
  <%= comment.description %>
</p>

<%= link_to "Edit", edit_recipe_comment_path(comment.recipe, comment),class: 'ecomment' if current_user == comment.user%>

<%= link_to "Delete", comment_path(comment), method: :delete, class: 'dcomment' if current_user == comment.user%>
<% end %>
</div>