<div class="recipe_form">

<%= form_for @recipe do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :prep_time_in_minutes %>
  <%= f.text_field :prep_time_in_minutes %>
  <br>
  <%= f.label :cook_time_in_minutes %>
  <%= f.text_field :cook_time_in_minutes %>
  <br>

  Add Ingredients:

   <div class="ingredient_form">
    <%= f.fields_for :recipe_ingredients, @ingredients do |recipe_ingredient| %>
    <div>

    <%= recipe_ingredient.fields_for :ingredient, @recipe.ingredients.build do |ingredient| %>
      Add New Ingredient: <%= ingredient.text_field :name %>
      Amount: <%= recipe_ingredient.text_field :quantity %>
      <button class="add_field_button">Add More Ingredients</button>

    <% end %>
    </div>
      <% end %>
   </div>

   <br>
   <%= f.label :instructions %>
   <%= f.text_area :instructions, size: "100x10" %>
   <br>
  <%= f.submit "Create Recipe", id: "submit_recipe"%>

<% end %>
</div>
