<%= form_for @recipe do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :prep_time %>
  <%= f.text_field :prep_time %>
  <br>
  <%= f.label :cook_time %>
  <%= f.text_field :cook_time %>
  <br>

  Add Ingredients:

   <div>
    <%= f.fields_for :recipe_ingredients, @ingredients do |recipe_ingredient| %>
    <div>
    <%= recipe_ingredient.fields_for :ingredient, @recipe.ingredients.build do |ingredient| %>
      Ingredient: <%= ingredient.text_field :name %>
      Amount: <%= recipe_ingredient.text_field :quantity %>
    <% end %>
    </div>
      <% end %>
   </div>

   <br>
   <%= f.label :instructions %>
   <%= f.text_area :instructions %>
   <br>
  <%= f.submit "Submit"%>
<% end %>
