<h1><%= @recipe.name %></h1>
  <h3>Prep Time: <%= @recipe.prep_time %> ~ Cook Time: <%= @recipe.cook_time %> </h3>

  <h4>
    Ingredients:
    <ul>
  <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
  <li style="list-style-type: none;">
    <%= "#{recipe_ingredient.quantity} #{recipe_ingredient.ingredient.name}" %></li>
  <% end %>
</ul>
  </h4>
  <h4>Instructions:</h4>
  <p><%= @recipe.instructions %></p>

Added by: <%= @recipe.user.name %>
<br>

<%= render 'comments/list_comments', comments: @recipe.comments if @recipe.comments %>

<h4>
  Add your comment below! (You must be signed in)
</h4>
<%= render 'comments/form', comment: @recipe.comments.new, recipe: @recipe%>
