<h1><%= @recipe.name %></h1>
  <h3>Prep:<%= @recipe.prep_time %> ~~ Cook:<%= @recipe.cook_time %> </h3>

  <h4>
    Ingredients:
    <ul>
  <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
    <li><%= "#{recipe_ingredient.quantity} #{recipe_ingredient.ingredient.name}" %></li>
  <% end %>
</ul>
  </h4>
  <h4>Instructions:</h4>
  <p><%= @recipe.instructions %></p>

Added by: <%= @recipe.user.name %>
