<h1 class= "recipe_title"><%= @recipe.name %> <button type="button" name="button"> <%= link_to 'Edit', edit_recipe_path(@recipe) %> </button>
</h1>

  <h3 class= "cook_time">Prep Time: <%= @recipe.prep_time_in_minutes %> minutes ---
     Cook Time: <%= @recipe.cook_time_in_minutes %> minutes </h3>

  <h4 class= "ingredients">
    Ingredients: </h4>
    <ul class ="list">
  <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
  <li style="list-style-type: none;">
    <%= "#{recipe_ingredient.quantity} #{recipe_ingredient.ingredient.name}" %></li>
  <% end %>
</ul>

  <h4 class= "instructions">Instructions:</h4>
    <p class ="recipe_instructions"> <%= @recipe.instructions %> </p>

    <h3 class="author">Added by: <%= @recipe.user.name %></h3>
<br>

<h2>
    <%= link_to "Hide Comments","#", id: 'comments_link' %>
</h2>

<%= render 'comments/list_comments', comments: @recipe.comments if @recipe.comments %>

<h4>
  Add your comment below! (You must be signed in)
</h4>
<%= render 'comments/form', comment: @recipe.comments.new, recipe: @recipe%>


