<!DOCTYPE html>
<html>
  <head>
    <title>Fun Guy Chef</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <img src="/images/Mushroom_Picture.jpg" class= "center">
  </head>
  <body>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/errors' %>
    <div class="page">
      <h1>Fun Guy Chef</h1>
      <h2>A Fungal Approach to Cooking</h2>
        <%= link_to "Highest Rated Recipes", 'recipes/highest_rated' %>
      <div class = "container">
        <%= yield %>
      </div>
  </body>
  </div>
</html>
